/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  /* Remplacez 'images/background.jpg' par le chemin de votre image */
  /* background-image: url('/images/background.jpg'); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}
@tailwind base;
@tailwind components;
@tailwind utilities;